html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

p, nav {
  font-size: 1.125rem;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0 auto;
}

header img {
  margin: 0;
}

header p {
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

a:hover {
  border-color: #0074d9;
  background-color: #fff;
}

nav a {
  text-decoration: none;
  color: #0074d9;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }

}
